/* bestime (pls give credits to @elainehan if used) */
@font-face {
font-family: bestime;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Bestime.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Bestime.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* chewy bubble (pls give credits to @elainehan if used) */
@font-face {
font-family: chewy bubble;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/ChewyBubble.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/ChewyBubble.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* choco shake (pls give credits to @elainehan if used) */
@font-face {
font-family: choco shake;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/ChocoShake.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/ChocoShake.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* fancake (pls give credits to @elainehan if used) */
@font-face {
font-family: fancake;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Fancake.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Fancake.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* fresh fruit (pls give credits to @elainehan if used) */
@font-face {
font-family: fresh fruit;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/FreshFruit.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/FreshFruit.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* story (pls give credits to @elainehan if used) */
@font-face {
font-family: story;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Story.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Story.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* purple smile (pls give credits to @elainehan if used) */
@font-face {
font-family: purple smile;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/PurpleSmile.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/PurpleSmile.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* milkshake (pls give credits to @elainehan if used) */
@font-face {
font-family: milkshake;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/MilkshakeCreps.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/MilkshakeCreps.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* cutie pie (pls give credits to @elainehan if used) */
@font-face {
font-family: cutie pie;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Myfont-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Myfont-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* obliviate (pls give credits to @elainehan if used) */
@font-face {
font-family: obliviate;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Obliviate-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Obliviate-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* hylie (pls give credits to @elainehan if used) */
@font-face {
font-family: hylie;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Hylie-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Hylie-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* oceana (pls give credits to @elainehan if used) */
@font-face {
font-family: oceana;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Oceana-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Oceana-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* taiyaki (pls give credits to @elainehan if used) */
@font-face {
font-family: taiyaki;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Taiyaki-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Taiyaki-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* hellosash (pls give credits to @elainehan if used) */
@font-face {
font-family: hellosash;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Hellosash-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Hellosash-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* mat saleh (pls give credits to @elainehan if used) */
@font-face {
font-family: mat saleh;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/MatSaleh.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/MatSaleh.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* school teachers (pls give credits to @elainehan if used) */
@font-face {
font-family: school teachers;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/SchoolTeachersRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/SchoolTeachersRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* hurufnya (pls give credits to @elainehan if used) */
@font-face {
font-family: hurufnya;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/HurufnyaSheo-Regular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/HurufnyaSheo-Regular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* pure milk (pls give credit to @elainehan if used) */
@font-face {
font-family: pure milk;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/PureMilkRegular.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/PureMilkRegular.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* falyadhias (pls give credits to @elainehan if used) */
@font-face {
font-family: falyadhias;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/FalyadhiasHandwriting2-Rg.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/FalyadhiasHandwriting2-Rg.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* oliver (pls give credit to @elainehan if used) */
@font-face {
font-family: oliver;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/oliver-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/oliver-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* cupcakes (pls give credits to @elainehan if used) */
@font-face {
font-family: cupcakes;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/little_cupcakes-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/little_cupcakes-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* avocado (pls give credits to @elainehan if used) */
@font-face {
font-family: avocado;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/avoceditsmoothie-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/avoceditsmoothie-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* pumpkin pie (pls give credit to @elainehan if used) */
@font-face {
font-family: pumpkin pie;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/pumpkinpie-regular-webfont.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/pumpkinpie-regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* keep on truckin (pls give credit to @elainehan if used) */
@font-face {
font-family: keep on truckin;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/KeeponTruckin.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/KeeponTruckin.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* this cafe (pls give credit to @elainehan if used) */
@font-face {
font-family: this cafe;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/ThisCafe.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/ThisCafe.woff') format('woff');
font-weight: normal;
font-style: normal;
}

/* mochido (pls give credit to @elainehan if used) */
@font-face {
font-family: mochido;
src: url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Mochido.woff2') format('woff2'),
url('https://raw.githubusercontent.com/not-elaine/fat-fonts/main/Mochido.woff') format('woff');
font-weight: normal;
font-style: normal;
}
